@{
    ViewBag.Title = "Contact";
}

<p id="contact">
    <br> <h2> <b> Anđela Klisović </b> </h2> <br />
    Datum rođenja: 10.03.1996. <br />
    Adresa: Milice i Turka 1, <br />
    22 000 Šibenik, Hrvatska <br />
    <strong><abbr title="Mobile">Mobile:</abbr> <a href="callto:+385981664028S">098 / 166 4028</a> </strong> <br />
    <strong><abbr title="Email">Email:</abbr> <a href="mailto:andela.klisovic@gmail.com">andela.klisovic@gmail.com</a> </strong> <br />
</p>