@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="gradi">
    <h2 class="text-warning"><b><em>Anđela Klisović</em></b></h2>
    <h2>
        <b>
            ASP.NET aplikacija za pretraživanje <br>
            cijene low-cost avionskih letova 
        </b>
    </h2><br>
    <p><a href="https://drive.google.com/file/d/0B-0nnJ781Tv4WDgwb2w2Ml9CNVU/view?usp=sharing" target="_blank" class="btn btn-primary btn-lg">Više u autoru @*Europass Životopis*@  &raquo;</a></p>
</div>
